{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super.super }}
    <script type="text/javascript" src="../../../../../jsi18n/"></script>
    {{ media }}
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        {% if add %}
            <a href="../../../../../">{% trans "Początek" %}</a> &rsaquo;
            <a href="../../../">{% trans "Menus" %}</a> &rsaquo;
            <a href="../../">{{ menu.name }}</a> &rsaquo;
            {% trans 'Dodaj kolejne menu' %}
        {% else %}
            <a href="../../../../../">{% trans "Początek" %}</a> &rsaquo;
            <a href="../../../">{% trans "Menus" %}</a> &rsaquo;
            <a href="../../">{{ menu.name }}</a> &rsaquo;
            {% trans 'Items' %} &rsaquo;
            {{ original|escape|truncatewords:"18" }}
        {% endif %}
    </div>
{% endblock %}